.text {
  max-width: 1040px;
  margin: auto;
  height: 200vh;
  display: flex;
  justify-content: center;
  padding-top: 20rem;

  position: sticky;
  top: 0;
  p {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 6.2rem;
  }
}
